<div>
    <header>

        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse "
            style="border: 1px solid black;  overflow-y: auto; background-color: #ffffff;">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4 ">

                    <a class="list-group-item list-group-item-action py-2 ripple active " aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3 "></i><span class="shadow">Admin dashboard</span>
                    </a>

                    <div class="mb-1" id="Inventories">
                        <button (click)="toggleCollapseInventory()"
                            [ngClass]="{'btn': true, 'btn-toggle': true, 'd-inline-flex': true, 'align-items-center': true, 'rounded': true, 'border-0': true, 'collapsed': !isCollapsedInventory}"
                            data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsedInventory ? 'true' : 'false'"
                            aria-controls="home-collapse">
                            <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                </svg>
                            </div><span style="font-size: larger;">Inventories</span>

                        </button>

                        <div [ngClass]="{'collapse': true, 'show': !isCollapsedInventory }" style="margin-left: 50px;"
                            id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">


                                <li class=" ml-4"><a
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                            style="font-size: large;" (click)="displayInventory()"
                                            (click)="updateSelectedItem('Display Inventory')">Display
                                            Inventory</span></a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Add Inventory')">
                                        <span style="font-size: large;">Add Item</span>
                                    </a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Update Inventory')" (click)="displayInventory()">
                                        <span style="font-size: large;">Update Item</span>
                                    </a></li>

                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Delete Inventory')" (click)="displayInventory()">
                                        <span style="font-size: large;">Delete Item</span>
                                    </a></li>

                            </ul>
                        </div>

                    </div>

                    <div class="mb-1" id="Managers">
                        <button (click)="toggleCollapseManager()"
                            [ngClass]="{'btn': true, 'btn-toggle': true, 'd-inline-flex': true, 'align-items-center': true, 'rounded': true, 'border-0': true, 'collapsed': !isCollapsedManager}"
                            data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsedManager ? 'true' : 'false'"
                            aria-controls="home-collapse">
                            <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                </svg>
                            </div><span style="font-size: larger;">Managers</span>
                        </button>

                        <div [ngClass]="{'collapse': true, 'show': !isCollapsedManager }" style="margin-left: 50px;"
                            id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">


                                <li class=" ml-4"><a
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                            style="font-size: large;" (click)="displayManager()"
                                            (click)="updateSelectedItem('Display Manager')">Display
                                            Managers</span></a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Add Manager')">
                                        <span style="font-size: large;">Add Manager</span>
                                    </a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Update Manager')" (click)="displayManager()">
                                        <span style="font-size: large;">Update Manager</span>
                                    </a></li>

                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Delete Manager')" (click)="displayManager()">
                                        <span style="font-size: large;">Delete Manager</span>
                                    </a></li>

                            </ul>
                        </div>

                    </div>

                    <div class="mb-1" id="Drivers">
                        <button (click)="toggleCollapseDriver()"
                            [ngClass]="{'btn': true, 'btn-toggle': true, 'd-inline-flex': true, 'align-items-center': true, 'rounded': true, 'border-0': true, 'collapsed': !isCollapsedDriver}"
                            data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsedDriver ? 'true' : 'false'"
                            aria-controls="home-collapse">
                            <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                </svg>
                            </div><span style="font-size: larger;">Drivers</span>
                        </button>

                        <div [ngClass]="{'collapse': true, 'show': !isCollapsedDriver }" style="margin-left: 50px;"
                            id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">


                                <li class=" ml-4"><a
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                            style="font-size: large;" (click)="displayDrivers()"
                                            (click)="updateSelectedItem('Display Driver')">Display
                                            Drivers</span></a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Add Driver')">
                                        <span style="font-size: large;">Add Driver</span>
                                    </a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Update Driver')" (click)="displayDrivers()">
                                        <span style="font-size: large;">Update Driver</span>
                                    </a></li>

                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Delete Driver')" (click)="displayDrivers()">
                                        <span style="font-size: large;">Delete Driver</span>
                                    </a></li>

                            </ul>
                        </div>

                    </div>




                    <div class="mb-1" id="Vehicles">
                        <button (click)="toggleCollapseVehicle()"
                            [ngClass]="{'btn': true, 'btn-toggle': true, 'd-inline-flex': true, 'align-items-center': true, 'rounded': true, 'border-0': true, 'collapsed': !isCollapsedVehicle}"
                            data-bs-toggle="collapse" [attr.aria-expanded]="!isCollapsedVehicle ? 'true' : 'false'"
                            aria-controls="home-collapse">
                            <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                </svg>
                            </div><span style="font-size: larger;">Vehicles</span>

                        </button>

                        <div [ngClass]="{'collapse': true, 'show': !isCollapsedVehicle }" style="margin-left: 50px;"
                            id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">


                                <li class=" ml-4"><a
                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                            style="font-size: large;" (click)="displayVehicles()"
                                            (click)="updateSelectedItem('Display Vehicles')">Display
                                            Vehicles</span></a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Add Vehicle')">
                                        <span style="font-size: large;">Add Vehicles</span>
                                    </a></li>


                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Update Vehicle')" (click)="displayVehicles()">
                                        <span style="font-size: large;">Update Vehicles</span>
                                    </a></li>

                                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                        (click)="updateSelectedItem('Delete Vehicle')" (click)="displayVehicles()">
                                        <span style="font-size: large;">Delete Vehicles</span>
                                    </a></li>

                            </ul>
                        </div>

                    </div>






                    <div id="Customers">
                        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                style="font-size: large; margin-left: 20px;" (click)="displayCustomers()"
                                (click)="updateSelectedItem('Display Customers')">Display
                                Customers</span></a>
                    </div>
                    <br>
                    <div id="Orders">
                        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                style="font-size: large; margin-left: 20px;" (click)="displayOrders()"
                                (click)="updateSelectedItem('Display Orders')">Display
                                Orders</span></a>
                    </div>
                    <br>
                    <div id="Resources">
                        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                style="font-size: large; margin-left: 20px;" (click)="displayResources()"
                                (click)="updateSelectedItem('Display Resources')">Display
                                Resources</span></a>
                    </div>
                    <br>
                    <div id="Shipments">
                        <a class="link-body-emphasis d-inline-flex text-decoration-none rounded"><span
                                style="font-size: large; margin-left: 20px;" (click)="displayShipments()"
                                (click)="updateSelectedItem('Display Shipments')">Display
                                Shipments</span></a>
                    </div>
                </div>

            </div>
        </nav>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  fixed-top mb-1"
            style="border: 1px solid black;background-color: #ffffff;">
            <!-- Container wrapper -->
            <div class="container-fluid">

                <h4>Logistic's Application</h4>


                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <li class="nav-item">Hello {{AdminArray[0]?.adminName}} !!&nbsp;&nbsp;</li>
                    <button (click)="logout()" class="btn btn-outline-danger btn-sm ">Logout</button>
                    <li class="nav-item dropdown">

                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>


        <!-- Navbar -->
    </header>

    <!--Main Navigation-->

    <!--Main layout-->

    <main style="margin-top: 10px;">

        <div class="container pt-4"></div>


        <div *ngIf="selected == 'Display Inventory'">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Inventory Items
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div *ngFor="let list of ResultListDisplay" class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="../../assets/{{ list.itemImg }}"
                                                    class="img-thumbnail custom-img" alt="{{ list.itemName }}">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{list.itemName}}</h5>
                                                    <p class="card-text">Price: {{list.price}}</p>
                                                    <p class="card-text">Quantity: {{list.quantity}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="selected == 'Display Manager'">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Manager Details
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <ng-container *ngFor="let manager of ResultListDisplay">
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <h5 class="mb-1">{{ manager.managerName }}</h5>
                                        <p class="mb-1">ID: {{ manager.managerId }}</p>
                                        <small>Contact No: {{ manager.managerPhonoNo }}</small>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="selected=='Display Customers'">
            <table class="table table-bordered ">
                <thead>
                    <tr>

                        <th>CustomerName</th>
                        <th>Contact No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody *ngFor="let list of ResultListDisplay">
                    <tr>

                        <td>{{list.customerName}}</td>
                        <td>{{list.customerPhoneNo}}</td>
                        <td>{{list.customerAddress}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div *ngIf="selected == 'Display Driver'">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Driver Details
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <ng-container *ngFor="let driver of ResultListDisplay">
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <h5 class="mb-1">{{ driver.driverName }}</h5>
                                        <p class="mb-1">ID: {{ driver.driverId }}</p>
                                        <small>Contact No: {{ driver.driverPhoneNo }}</small>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="selected=='Display Vehicles'">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Vehicle Id</th>
                        <th>Vehicle Name</th>
                        <th>Vehicle Number</th>
                        <th>Vehicle Availability Status</th>
                    </tr>
                </thead>
                <tbody *ngFor="let list of ResultListDisplay">
                    <tr>
                        <th>{{list.vehicleId}} </th>
                        <td>{{list.vehicleName}}</td>
                        <td>{{list.vehicleNumber}}</td>
                        <td>{{list.vehicleAvailabilityStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="selected=='Display Orders'">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Customer Id</th>

                        <th>Item Name</th>
                        <th>Item Quantity</th>
                        <th>Order Status</th>
                        <th>Destinantion</th>
                    </tr>
                </thead>
                <tbody *ngFor="let list of ResultListDisplay">
                    <tr>
                        <th>{{list.orderId}} </th>
                        <th>{{list.customerId}} </th>

                        <th>{{list.itemName}} </th>
                        <th>{{list.itemQuantity}} </th>
                        <td>{{list.currentStatus}}</td>
                        <td>{{list.destination}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="selected=='Display Resources'">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Driver Id</th>
                        <th>Driver Name</th>
                        <th>Driver Phone No</th>
                        <th>Driver Availabilty Status</th>
                        <th>Current Assignment</th>
                        <th>Vehicle Allocated</th>
                    </tr>
                </thead>
                <tbody *ngFor="let list of ResultListDisplay">
                    <tr>
                        <th>{{list.resourceId}} </th>
                        <td>{{list.driverid}} </td>
                        <td>{{list.driverName}} </td>
                        <td>{{list.driverPhoneNo}} </td>
                        <td>{{list.driverAvailabilityStatus}} </td>
                        <td>{{list.currentassignment}}</td>
                        <td>{{list.vehicleAllocated}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="selected=='Display Shipments'">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Shipment Id</th>
                        <th>Order Id</th>
                        <th>Customer Id</th>
                        <th>Customer name</th>
                        <th>Orgin</th>
                        <th>Destination</th>
                        <th>Current Status</th>
                        <th>Order Placed Date</th>
                        <th>Expected Delivery Date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let list of ResultListDisplay">
                    <tr>
                        <th>{{list.shipmentId}} </th>
                        <td>{{list.orderId}}</td>
                        <td>{{list.customerId}}</td>
                        <td>{{list.customerName}}</td>
                        <td>{{list.origin}}</td>
                        <td>{{list.destination}}</td>
                        <td>{{list.currentStatus}}</td>
                        <td>{{list.orderPlacedDate}}</td>
                        <td>{{list.expectedDelivery}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="ADD Inventory">
            <div *ngIf="selected == 'Add Inventory'" class="mt-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add Inventory</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="AddInventory()">
        
                            <div class="mb-3">
                                <label for="itemName" class="form-label">Item Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    [(ngModel)]="InventoryAdd.ItemName" placeholder="Enter Item Name" required>
                                <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
                                    <span style="color: red;" *ngIf="userForm.controls['name'].errors?.['required']">Name is
                                        required.</span>
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <label for="itemImage" class="form-label">Item Image</label>
                                <input type="file" class="form-control" name="image" id="itemImage"
                                    (change)="onFileSelected($event)" required>
                            </div>
        
                            <div>
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="price" name="price"
                                    [(ngModel)]="InventoryAdd.Price" placeholder="Enter Price" required
                                    min="0">
                                <div *ngIf="userForm.controls['price'].invalid && userForm.controls['price'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['price'].errors?.['required']">Price is
                                        required.</span>
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['price'].value < 0">Price must be greater than or equal to zero.</span>
                                </div>
                            </div>
                            
        
                            <div>
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="quantity" name="quantity"
                                    [(ngModel)]="InventoryAdd.Quantity" placeholder="Enter Quantity" required>
                                <div *ngIf="userForm.controls['quantity'].invalid && userForm.controls['quantity'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['quantity'].errors?.['required']">Quantity is
                                        required.</span>
                                </div>
                            </div>
        
        
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Add Item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        


        <div id="ADD Manager">
            <div *ngIf="selected == 'Add Manager'" class="mt-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add Manager</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="AddManager()">
                            <div class="mb-3">
                                <label for="managername" class="form-label">Manager Name</label>
                                <input type="text" class="form-control" id="managername" name="managername"
                                    [(ngModel)]="ManagerAdd.managerName" placeholder="Enter Manager Name" required>
                                <div
                                    *ngIf="userForm.controls['managername'].invalid && userForm.controls['managername'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['managername'].errors?.['required']">Manager name is
                                        required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" class="form-control"
                                    [(ngModel)]="ManagerAdd.managerPassword" name="password" required>
                            </div>

                            <div class="form-group">
                                <label for="rePassword" class="form-label">Re-enter Password:</label>
                                <input type="password" id="rePassword" class="form-control"
                                    [(ngModel)]="ReEnteredPassword" name="rePassword" required>
                                <div *ngIf="ReEnteredPassword !== ManagerAdd.managerPassword">
                                    <span style="color: red;">Passwords do not match.</span>
                                </div>
                            </div>

                            <div>
                                <label for="mobilenumber" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="mobilenumber" name="mobilenumber"
                                    [(ngModel)]="ManagerAdd.managerPhonoNo" placeholder="Enter Mobile Number" required
                                    (keypress)="onMobileNumberKeyPress($event)" maxlength="10" pattern="[0-9]*">
                                <div *ngIf="userForm.controls['mobilenumber'].touched">
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('required')">
                                        <span style="color: red;">Mobile number is required.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('pattern')">
                                        <span style="color: red;">Mobile number must contain only digits.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('maxlength')">
                                        <span style="color: red;">Mobile number must be 10 digits long.</span>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <button type="submit"
                                [disabled]="userForm.invalid || ReEnteredPassword !== ManagerAdd.managerPassword"
                                class="btn btn-primary">Add Manager</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div id="ADD Driver">
            <div *ngIf="selected == 'Add Driver'" class="mt-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add Driver</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="AddDriver()">
                            <div class="mb-3">
                                <label for="drivername" class="form-label">Driver Name</label>
                                <input type="text" class="form-control" id="drivername" name="drivername"
                                    [(ngModel)]="DriverAdd.driverName" placeholder="Enter Driver Name" required>
                                <div
                                    *ngIf="userForm.controls['drivername'].invalid && userForm.controls['drivername'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['drivername'].errors?.['required']">Driver name is
                                        required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" class="form-control"
                                    [(ngModel)]="DriverAdd.driverPassword" name="password" placeholder="Enter Password"
                                    required>
                            </div>

                            <div class="form-group">
                                <label for="rePassword" class="form-label">Re-enter Password:</label>
                                <input type="password" id="rePassword" class="form-control"
                                    [(ngModel)]="ReEnteredPassword" name="rePassword" placeholder="Re-Enter Password"
                                    required>
                                <div *ngIf="ReEnteredPassword !== DriverAdd.driverPassword">
                                    <span style="color: red;">Passwords do not match.</span>
                                </div>
                            </div>
                            <div>
                                <label for="mobilenumber" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="mobilenumber" name="mobilenumber"
                                    [(ngModel)]="DriverAdd.driverPhoneNo" placeholder="Enter Mobile Number" required
                                    (keypress)="onMobileNumberKeyPress($event)" maxlength="10" pattern="[0-9]*">
                                <div *ngIf="userForm.controls['mobilenumber'].touched">
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('required')">
                                        <span style="color: red;">Mobile number is required.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('pattern')">
                                        <span style="color: red;">Mobile number must contain only digits.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('maxlength')">
                                        <span style="color: red;">Mobile number must be 10 digits long.</span>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <button type="submit"
                                [disabled]="userForm.invalid || ReEnteredPassword !== DriverAdd.driverPassword"
                                class="btn btn-primary">Add Driver</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div id="ADD Vehicle">
            <div *ngIf="selected == 'Add Vehicle'" class="mt-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add Vehicle</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="AddVehicle()">
                            <div class="mb-3">
                                <label for="vehiclename" class="form-label">Vehicle Name</label>
                                <input type="text" class="form-control" id="vehiclename" name="vehiclename"
                                    [(ngModel)]="VehicleAdd.vehicleName" placeholder="Enter Vehicle Name" required>
                                <div
                                    *ngIf="userForm.controls['vehiclename']?.invalid && userForm.controls['vehiclename'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['vehiclename'].errors?.['required']">Vehicle name is
                                        required.</span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="vehiclenumber" class="form-label">Vehicle Number[Format: TS08HP5214]</label>
                                <input type="text" class="form-control" id="vehiclenumber" name="vehiclenumber"
                                    [(ngModel)]="VehicleAdd.vehicleNumber" placeholder="Enter Vehicle Number" required>
                                <div
                                    *ngIf="userForm.controls['vehiclenumber']?.invalid && userForm.controls['vehiclenumber'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['vehiclenumber'].errors?.['required']">Vehicle Number
                                        is
                                        required.</span>
                                </div>
                            </div>

                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Add
                                Vehicle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div id="UPDATE Inventory" *ngIf="selected == 'Update Inventory'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetInventoryData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.itemName">{{list.itemName}}</option>
            </select>
            <div class="mt-4" *ngIf="searchtitle!=''">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Inventory</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="UpdateInventory()">
                            <div class="mt-4">
                                <label for="itemName" class="form-label">Enter Item Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                    [(ngModel)]="InventoryAdd.ItemName" placeholder="Enter Item Name" required>
                                <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
                                    <span style="color: red;" *ngIf="userForm.controls['name'].errors?.['required']">Name is
                                        required.</span>
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <label for="itemImage" class="form-label">Item Image</label>
                                <input type="file" class="form-control" name="image" id="itemImage"
                                    (change)="onFileSelected($event)" required>
                            </div>
        
                            <div>
                                <label for="itemName" class="form-label">Enter Price</label>
                                <input type="text" class="form-control" id="price" name="price" [(ngModel)]="InventoryAdd.Price"
                                    placeholder="Enter Item Price" required min="0">
                                <div *ngIf="userForm.controls['price'].invalid && userForm.controls['price'].touched">
                                    <span style="color: red;" *ngIf="userForm.controls['price'].errors?.['required']">Price is
                                        required.</span>
                                    <span style="color: red;" *ngIf="userForm.controls['price'].value < 0">Price must be greater
                                        than or equal to zero.</span>
                                </div>
                            </div>
        
                            <div>
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="quantity" name="quantity"
                                    [(ngModel)]="InventoryAdd.Quantity" placeholder="Enter Quantity" required>
                                <div *ngIf="userForm.controls['quantity'].invalid && userForm.controls['quantity'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['quantity'].errors?.['required']">Quantity is
                                        required.</span>
                                    <span style="color: red;" *ngIf="userForm.controls['quantity'].value > 0">Quantity Must be
                                        Greater Than 0.</span>
                                </div>
                            </div>
        
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Update Item</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        

        <div id="UPDATE Manager" *ngIf="selected == 'Update Manager'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetManagerData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.managerName">{{list.managerName}}</option>
            </select>
            <div class="mt-4" *ngIf="searchtitle!=''">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Manager</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="UpdateManager()">
                            <div class="mb-3">
                                <label for="managername" class="form-label">Enter Manager Name</label>
                                <input type="text" class="form-control" id="managername" name="managername"
                                    [(ngModel)]="ManagerAdd.managerName" placeholder="Enter Manager Name" required>
                                <div *ngIf="userForm.controls['managername'].invalid && userForm.controls['managername'].touched">
                                    <span style="color: red;" *ngIf="userForm.controls['managername'].errors?.['required']">Name
                                        is
                                        required.</span>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" class="form-control"
                                    [(ngModel)]="ManagerAdd.managerPassword" name="password" required>
                            </div>
        
                            <div class="form-group">
                                <label for="rePassword" class="form-label">Re-enter Password:</label>
                                <input type="password" id="rePassword" class="form-control" [(ngModel)]="ReEnteredPassword"
                                    name="rePassword" required>
                                <div *ngIf="ReEnteredPassword !== ManagerAdd.managerPassword">
                                    <span style="color: red;">Passwords do not match.</span>
                                </div>
                            </div>
        
                            <div>
                                <label for="mobilenumber" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="mobilenumber" name="mobilenumber"
                                    [(ngModel)]="ManagerAdd.managerPhonoNo" placeholder="Enter Mobile Number" required
                                    (keypress)="onMobileNumberKeyPress($event)" maxlength="10" pattern="[0-9]*">
                                <div *ngIf="userForm.controls['mobilenumber'].touched">
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('required')">
                                        <span style="color: red;">Mobile number is required.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('pattern')">
                                        <span style="color: red;">Mobile number must contain only digits.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('maxlength')">
                                        <span style="color: red;">Mobile number must be 10 digits long.</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Update Manager</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="UPDATE Driver" *ngIf="selected == 'Update Driver'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetDriverData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.driverName">{{list.driverName}}</option>
            </select>
            <div class="mt-4" *ngIf="searchtitle!=''">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Driver</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="UpdateDriver()">
                            <div class="mb-3">
                                <label for="drivername" class="form-label">Enter Driver Name</label>
                                <input type="text" class="form-control" id="drivername" name="drivername"
                                    [(ngModel)]="DriverAdd.driverName" placeholder="Enter Driver Name" required>
                                <div *ngIf="userForm.controls['drivername'].invalid && userForm.controls['drivername'].touched">
                                    <span style="color: red;" *ngIf="userForm.controls['drivername'].errors?.['required']">Name
                                        is required.</span>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" class="form-control" [(ngModel)]="DriverAdd.driverPassword"
                                    name="password" required>
                            </div>
        
                            <div class="form-group">
                                <label for="rePassword" class="form-label">Re-enter Password:</label>
                                <input type="password" id="rePassword" class="form-control" [(ngModel)]="ReEnteredPassword"
                                    name="rePassword" required>
                                <div *ngIf="ReEnteredPassword !== DriverAdd.driverPassword">
                                    <span style="color: red;">Passwords do not match.</span>
                                </div>
                            </div>
        
                            <div>
                                <label for="mobilenumber" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="mobilenumber" name="mobilenumber"
                                    [(ngModel)]="DriverAdd.driverPhoneNo" placeholder="Enter Mobile Number" required
                                    (keypress)="onMobileNumberKeyPress($event)" maxlength="10" pattern="[0-9]*">
                                <div *ngIf="userForm.controls['mobilenumber'].touched">
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('required')">
                                        <span style="color: red;">Mobile number is required.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('pattern')">
                                        <span style="color: red;">Mobile number must contain only digits.</span>
                                    </div>
                                    <div *ngIf="userForm.controls['mobilenumber'].hasError('maxlength')">
                                        <span style="color: red;">Mobile number must be 10 digits long.</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Update Driver</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        



        <div id="UPDATE Vehicle" *ngIf="selected == 'Update Vehicle'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetVehicleData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.vehicleNumber">{{list.vehicleNumber}}</option>
            </select>
            <div class="mt-4" *ngIf="searchtitle!=''">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Update Vehicle</h5>
                    </div>
                    <div class="card-body">
                        <form #userForm="ngForm" (ngSubmit)="UpdateVehicle()">
                            <div class="mb-3">
                                <label for="vehiclename" class="form-label">Enter Vehicle Name To Update</label>
                                <input type="text" class="form-control" id="vehiclename" name="vehiclename"
                                    [(ngModel)]="VehicleAdd.vehicleName" placeholder="Enter Vehicle Name" required>
                                <div
                                    *ngIf="userForm.controls['vehiclename']?.invalid && userForm.controls['vehiclename'].touched">
                                    <span style="color: red;" *ngIf="userForm.controls['vehiclename'].errors?.['required']">Name
                                        is required.</span>
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <label for="vehiclestatus" class="form-label">Enter Vehicle Status to Update</label>
                                <select class="form-select" id="vehiclestatus" name="vehiclestatus"
                                    [(ngModel)]="VehicleAdd.vehicleAvailabilityStatus" required>
                                    <option value="" disabled>Select Status</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                    <option value="Not In Condition">Not In Condition</option>
                                </select>
                                <div
                                    *ngIf="userForm.controls['vehiclestatus']?.invalid && userForm.controls['vehiclestatus'].touched">
                                    <span style="color: red;"
                                        *ngIf="userForm.controls['vehiclestatus'].errors?.['required']">Status is
                                        required.</span>
                                </div>
                            </div>
        
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Update Vehicle
                                Details</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="Delete Inventory" *ngIf="selected == 'Delete Inventory'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetInventoryData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.itemName">{{list.itemName}}</option>
            </select>

            <div *ngIf="searchtitle!=''" class="deletediv">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/{{InventoryAdd.ItemImg}}" class="card-img-top border"
                        style="max-height: 300px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{InventoryAdd.ItemName}}</h5>
                        <p class="card-text">Click to Delete Item</p>
                        <a (click)="DeleteInventory()" class="btn btn-danger">Delete Item</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="Delete Manager" *ngIf="selected == 'Delete Manager'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetManagerData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.managerName">{{list.managerName}}</option>
            </select>

            <div *ngIf="searchtitle!=''" class="deletediv">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ManagerAdd.managerName}}</h5>
                        <p class="card-text">Click to Delete Manager</p>
                        <a (click)="DeleteManager()" class="btn btn-danger">Delete Manager</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="Delete Driver" *ngIf="selected == 'Delete Driver'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetDriverData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.driverName">{{list.driverName}}</option>
            </select>

            <div *ngIf="searchtitle!=''" class="deletediv">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{DriverAdd.driverName}}</h5>
                        <p class="card-text">Click to Delete Driver</p>
                        <a (click)="DeleteDriver()" class="btn btn-danger">Delete Driver</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="Delete Vehcile" *ngIf="selected == 'Delete Vehicle'">
            <select name="selectList" class="form-control" id="selectList" [(ngModel)]="searchtitle"
                (change)="GetVehicleData()">
                <option value="" disabled selected>Select</option>
                <option *ngFor="let list of ResultListDisplay" [value]="list.vehicleNumber">{{list.vehicleNumber}}
                </option>
            </select>

            <div *ngIf="searchtitle!=''" class="deletediv">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{VehicleAdd.vehicleName}}</h5>
                        <h5 class="card-title">Number : {{VehicleAdd.vehicleNumber}}</h5>
                        <h5 class="card-title">Availability Status : {{VehicleAdd.vehicleAvailabilityStatus}}</h5>
                        <p class="card-text">Click to Delete Vehcile</p>
                        <button (click)="DeleteVehicle()" class="btn btn-danger"
                            [disabled]="VehicleAdd.vehicleAvailabilityStatus=='no'">Delete Vehcile</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>